<div class="menu-container">
    <div class="menu">

    <!--    
    <a class="navbar-brand" href="">
        <img src="img/aset-logo-light.png" alt="" width="120" height="" class="">
    </a>
    -->

        <a class="navbar-brand" href="">
            Aset
        </a>
        <ul id="collapseMenu">
            <li class="main-navigation"><a href="#">Cars</a></li>
            <li class="main-navigation"><a href="#">Houses</a>
                <div class="mega-menu">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <img src="https://picsum.photos/540/350" alt="Placeholder"/>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#">School</a>
                                    <ul>
                                        <li><a href="#">Lidership</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Locations</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Study</a>
                                    <ul>
                                        <li><a href="#">Undergraduate</a></li>
                                        <li><a href="#">Masters</a></li>
                                        <li><a href="#">International</a></li>
                                        <li><a href="#">Online</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Research</a>
                                    <ul>
                                        <li><a href="#">Undergraduate research</a></li>
                                        <li><a href="#">Masters research</a></li>
                                        <li><a href="#">Funding</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Something</a>
                                    <ul>
                                        <li><a href="#">Sub something</a></li>
                                        <li><a href="#">Sub something</a></li>
                                        <li><a href="#">Sub something</a></li>
                                        <li><a href="#">Sub something</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>     
                </div>      
            </li>
            <li class="main-navigation"><a href="#">Membership</a>
                <ul>
                    <li><a href="#">Today</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Sport</a></li>
                </ul>
            </li>
            <li class="main-navigation"><a href="#">Exclusive</a>
                <div class="mega-menu">
                    <ul>
                        <li><a href="#">School</a>
                            <ul>
                                <li><a href="#">Lidership</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Locations</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Study</a>
                            <ul>
                                <li><a href="#">Undergraduate</a></li>
                                <li><a href="#">Masters</a></li>
                                <li><a href="#">International</a></li>
                                <li><a href="#">Online</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Study</a>
                            <ul>
                                <li><a href="#">Undergraduate</a></li>
                                <li><a href="#">Masters</a></li>
                                <li><a href="#">International</a></li>
                                <li><a href="#">Online</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Empty sub</a></li>
                    </ul>
                </div>    
            </li>
        </ul>
    </div>
</div>